.container {
  width: 900px;
  margin-bottom: 50px;
  background-color: #FCFAF7;
}
h1 {
	color:#3CC76A;
}
label {
	color:#54585E;
}
.btn-primary{
	background-image: linear-gradient(to bottom,#3CC76A 0,#089972 100%);
	border-color: #089972;
    background-color: #089972;
}
.btn-primary:hover{
	background-color: #089972;
}
.btn-urgent{
	background-image: linear-gradient(to bottom,#EB5C2D 0,#B34622 100%) !important;
	border-color: #B34622 !important;
    background-color: #B34622 !important;
}
.btn-urgent:focus, .btn-urgent:hover {
    background-color: #B34622 !important;
}

select:invalid { 
	color: gray; 
}